.active{
    font-size: 14;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
}

video{
    width:100%;
    object-fit:contain;
}

.aparecer{
    animation-name: aparecer;
    animation-duration: 1s;
}

.fondo{
    background-image: url('./images/carreteratierra.jpg');
    background-attachment: fixed;
    background-size: cover;
   
}

.listItemButton{
    border:'1px solid #B2B2B2';
    border-radius: '7px';
    background-color:'#ffff';
    display:'flex';
    padding: 10px;
}

@keyframes aparecer{
    0%{opacity: 0;  }
    100%{opacity: 1; }
}

